.home-article {
  list-style: none;
  margin: 0 auto;
  margin-top: 100px;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
  text-align: center;
}

.keepinmind {
  color: #b23a48;
}
