.user-profile__image {
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}

.user-profile {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
  position: relative;
}

.user-profile__container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-profile h2,
.user-profile h3,
.user-profile h4,
.user-profile h5,
.user-profile p {
  margin: 0 0 0.5rem 0;
}

.user-profile__info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.user-profile__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.user-profile__actions button,
.user-profile__actions a {
  margin: 0.5rem;
}
