.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8C2F39;
  border-radius: 4px;
  background: #8C2F39;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #B23A48;
  border-color: #B23A48;
}

.button--inverse {
  background: transparent;
  color: #B23A48;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #B23A48;
}

.button--danger {
  background: #461220;
  border-color: #461220;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}