.pet-item {
  margin: 1rem 0;
}

.pet-item__content {
  padding: 0;
}

.pet-item__info {
  padding: 1rem;
  text-align: center;
}

.pet-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.pet-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-item__info h2,
.pet-item__info h3,
.pet-item__info p {
  margin: 0 0 0.5rem 0;
}

.pet-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.pet-item__modal-content {
  padding: 0;
}

.pet-item__modal-actions {
  text-align: right;
}

.pet-item__actions button,
.pet-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .pet-item__image {
    height: 20rem;
  }
}

.attention {
  color: #8c2f39;
}
